.header {
    height:630px;
    position:relative;
    background-image: url('../../images//chair_bg.png');
    background-size: cover;
}
.header::after{
    height:630px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}
